<div class="searchresult panel">
    <div class="itemheadfull">
        <i class="fa fa-trophy fa-lg" style="color:#fb8c00"></i>
        <a href="/t/{{ task.id }}">{{ task.name }}</a>
    </div>
    <div class="runStats statLine">
        <b>
            <i class="fa fa-star"></i>{{ task.nb_runs }} runs
            <i class="fa fa-heart"></i>{{ task.nb_likes }} likes
            <i class="fa fa-download"></i>{{ task.nb_downloads }} downloads
            <i class="fa fa-rss"></i>{{ task.nb_reachs }} reachs
            <i class="fa fa-bolt"></i>{{ task.nb_impacts }} impacts
        </b>
        <br>
        estimation_procedure : Interleaved Test then Train - target_feature : binaryClass
    </div>
</div>